@import "tailwindcss";

:root {
  /* Default Light Mode Variables */
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* Dark Mode Overrides */
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  /* Body uses the custom variables for colors */
  background: var(--background);
  color: var(--foreground);
  /* The font will be set by the Tailwind classes in layout.tsx */
}